.admin-page {
    padding: 0 50px;
}

#admin-page-title {
    text-align: center;
    margin-top: 25px;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    letter-spacing: 1px;
}

.admin-page-content {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    overflow-y: scroll;
    height: 700px;
}

.admin-news-item {
    flex: 1 0 auto;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 5px;
    width: 60%;
    height: 30px;
}