* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url("/src/assets/images/background.png");
    background-repeat: no-repeat;
    background-position-y: -300px;
    background-attachment: scroll;
    min-height: 100vh;
}

html {
    height: 100vh;
}