.new-page-content-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.new-page-content-wrap img {
    margin: 50px 0;
    width: 500px;
    height: 450px;
    object-fit: cover;
    scale: 1;
}

.new-page-content-wrap p {
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.2rem;
    letter-spacing: .8px;
    width: 50%;
}